TMS.Net07.Homework1.HelloWorld/
TMS.Net07.Homework2.DaysOfWeek/
TMS.Net07.Homework3.CurrencyAndCalculator/TMS.Net07.Homework3.Low.Currency
TMS.Net07.Homework3.CurrencyAndCalculator/TMS.Net07.Homework3.Low.Currency